From doesn't expect localhost

My application sends emails. I didn't want to hardcore the domain into it, so that I got it from HttpResponse. Unfortunately if I debug the app on a development machine and I access it through localhost as a domain, it throws
<pre>Nette\Utils\AssertionException
    The header 'From' expects to be email, string 'email@localhost' given.</pre>
I have to put there something like localhost.cz.

My guess is that `email@localhost` is not valid e-mail.

I don't think so. The part after @ indicates the server by a domain or an IP address. Localhost is just an alias of my local IP adress, isn't it?

After @ is domain (RFC 5322 section 3.4.1) and "localhost" is not domain. Also e-mails use MX records in DNS and localhost isn't resolvable by DNS.

You're right, sorry. I thought that "localhost" could be used as an IP address in this context.